In [59]:
import seaborn as sns
import petl as etl

iris = sns.load_dataset('iris')
dados = etl.fromdataframe(iris)

In [60]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [61]:
dados.fieldnames()

('sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species')

In [52]:
dados.display(5)

sepal_length,sepal_width,petal_length,petal_width,species
5.1,3.5,1.4,0.2,setosa
4.9,3.0,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5.0,3.6,1.4,0.2,setosa

In [53]:
dados.nrows()

150

In [54]:
def sepal_area(row):
    return round(row["sepal_length"] * row["sepal_width"], 3)

def petal_area(row):
    return round(row["petal_length"] * row["petal_width"], 3)

In [65]:
dados = dados.addfield("sepal_area", sepal_area)
dados = dados.addfield("petal_area", petal_area)

dados.display(10)

sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,petal_area
5.1,3.5,1.4,0.2,setosa,17.85,0.28
4.9,3.0,1.4,0.2,setosa,14.7,0.28
4.7,3.2,1.3,0.2,setosa,15.04,0.26
4.6,3.1,1.5,0.2,setosa,14.26,0.3
5.0,3.6,1.4,0.2,setosa,18.0,0.28
5.4,3.9,1.7,0.4,setosa,21.06,0.68
4.6,3.4,1.4,0.3,setosa,15.64,0.42
5.0,3.4,1.5,0.2,setosa,17.0,0.3
4.4,2.9,1.4,0.2,setosa,12.76,0.28
4.9,3.1,1.5,0.1,setosa,15.19,0.15

In [66]:
sepals = dados.cut(["sepal_length", "sepal_width", "sepal_area"])

sepals

+--------------+-------------+------------+
| sepal_length | sepal_width | sepal_area |
+==============+=============+============+
|          5.1 |         3.5 |      17.85 |
+--------------+-------------+------------+
|          4.9 |         3.0 |       14.7 |
+--------------+-------------+------------+
|          4.7 |         3.2 |      15.04 |
+--------------+-------------+------------+
|          4.6 |         3.1 |      14.26 |
+--------------+-------------+------------+
|          5.0 |         3.6 |       18.0 |
+--------------+-------------+------------+
...

In [67]:
petals = dados.cut(["petal_length", "petal_width", "petal_area"])

petals

+--------------+-------------+------------+
| petal_length | petal_width | petal_area |
+==============+=============+============+
|          1.4 |         0.2 |       0.28 |
+--------------+-------------+------------+
|          1.4 |         0.2 |       0.28 |
+--------------+-------------+------------+
|          1.3 |         0.2 |       0.26 |
+--------------+-------------+------------+
|          1.5 |         0.2 |        0.3 |
+--------------+-------------+------------+
|          1.4 |         0.2 |       0.28 |
+--------------+-------------+------------+
...